:root {
    --color-tan: #f6f7eb;
    --color-orange: #E94F37;
    --color-black: #393e41;
    --color-blue: #3f88c5;
    --color-green: #44bba4;
    --color-white: #FFFFFF;
}

body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    background-color: var(--color-white);
    color: var(--color-black)   ;
}

h1, h2, h3, h4, h5, h6 {
    @apply font-black uppercase mt-4 mb-2;
}

h1 {
    @apply text-5xl;
}

h2 {
    @apply text-4xl;
}

h3 {
    @apply text-3xl;
}

h4 {
    @apply text-2xl;
}

h5 {
    @apply text-xl;
}

h6 {
    @apply text-lg;
}

p {
    @apply mb-4;
}

ul {
    @apply list-disc pl-4;
}

li {
    @apply mb-2;
}

blockquote {
    @apply border-l-4 pl-4 flex flex-col gap-2;
    border-color: var(--color-green);

    cite {
        @apply italic text-sm;
        color: var(--color-green);
    }
}

body > div#__nuxt {
    @apply grid h-auto min-h-screen;
    grid-template-rows: auto 1fr auto;
}

.text-orange {
    color: var(--color-orange);
}
.text-blue {
    color: var(--color-blue);
}
.text-green {
    color: var(--color-green);
}

.error-404-page {
    background-image: url('/images/jeremy-perkins-uhjiu8FjnsQ-unsplash.jpg');
    background-size: cover;
    background-position: center;

    header h1 {
        color: var(--color-white);
    }
}
